
            .container {
                position: relative;
                width:100%;
                height: auto;
                margin: 0px auto;
            }
  
            .header {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%; 
                height: 60px;
                background-color: rgba(0, 0, 0, 0.3);
            }
  
            .header-container {
                width: 80%;
                height: 60px;
                margin: 0 auto;
            }
  
            .header-logo{
                float: left;
                margin-top: 16px;
            }

            .header-title {
                width: 30%;
                height: 60px;
                float: left;
                line-height: 60px;
            }
  
            .header-title > h2 {
                padding: 0;
                margin: 0;
                font-size: 24px;
                color: aliceblue;
                text-shadow: 0 0 0.2em aliceblue;
                margin-left: 10px;
            }
  
            .header-select {
                width: 50%;
                height: 60px;
                float: left;
                margin-left: -30px;
            }
  
            .header-img > img{
                padding: 0;
                margin-top: 15px;
                border-radius: 30px;
                display: inline;
                width: 30px;
                height: 30px;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
                float: right;
            }

            .header-soptlight > form{
                float:right;
                width: 100px;
                height: 26px;
                position: relative;
                margin-right: 50px;
            }

            form input{
                margin-top: 17px;
                padding-left: 10px;
                width: 135px;
                height: 26px;
                border-radius: 30px;
                border-width: 0;
                outline:medium;
                appearance: none; 
            }
            .header-select > ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                float: right;
            }
  
            .header-select > ul li {
                display: inline-block;
                line-height: 60px;
            }
  
            .header-select > ul a {
                display: inline-block;
                padding: 0 14px;
                height: 60px;
            }
  
            a {
                text-decoration: none;
                color: white;
            }
  
            a:link {
                color: white;
            }
  
            a:visited {
                color: white;
                background-color: yellow;
            }
  
            a:hover {
                color: white;
                background-color: yellow;
            }
  
            a:active {
                color: white;
                background-color: yellow;
            }
  
            .content {
                width: 100%;
                background-color: blueviolet;
                height: calc(100vh);
            }
/* 
            .content > .content_top{
                width: 100%;
                height: 500px;
                background-color: slateblue;
            }
            .content > .content_bottom{
                width: 100%;
                height: 500px;
                background-color: coral;
            }
            .content > .content_end{
                height: 500px;
                background-color: greenyellow;
            } */

            .footer {
                /* margin-top: -16px; */
                width: 100%;
                height: 178px;
                background-color: darkgrey;
            
            }
            .foot-top{
                margin: 0 auto;
                width: 80%;
                height: 154px;
                padding: 20px 0;
                box-sizing: border-box;
            }

            .foot-link {
                width: 40%;
                float: left;
            }

            .foot-img {
                width: 40%;
                float: right;
                text-align: center;
            }
            .foot-info{
                margin-top: -16px;
                width: 100%;
                height: 24px;
                text-align: center;
                background-color: rgb(87, 80, 15);
                color: black;
            }
  