<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>贝肯少儿编程教育官网</title>
        <link rel="stylesheet" type="text/css" href="../css/normalize.css">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <script>
            
            function swtichImg() {
                var list = document.getElementById("list")
                var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
                console.log(list.style.left)
                var newLeft = parseInt(list.style.left) ? parseInt(list.style.left) - w : - w
                if (newLeft <= -4 * w) {
                    list.style.left = 0
                } else {
                    list.style.left = newLeft + 'px'
                }
                
                console.log(newLeft)
            }
            setInterval(swtichImg, 3000)
        </script>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="header-container">
                    <div class="header-logo">
                        <img src="../img/logo.png" width="30px" height="30px">
                    </div>
                    <div class="header-title">
                        <!-- <img src="" alt="贝肯少儿"> -->
                        <h2>贝肯少儿编程</h2>
                    </div>
                    <div class="header-select">
                        <ul>
                            <li><a href="javascript:void(0);">首页</a></li>
                            <li><a href="javascript:void(0);">科技教程</a></li>
                            <li><a href="javascript:void(0);">趣味课堂</a></li>
                            <li><a href="javascript:void(0);">师资资源</a></li>
                            <li><a href="javascript:void(0);">关于我们</a></li>
                        </ul>
                    </div>
                    <div class="header-img">
                        <img src="../img/channel.jpg">
                    </div>
                    <div class="header-soptlight">
                        <form>
                            <input type="text">
                        </form>
                    </div>
                </div>
            </div>
            <div class="content">
                <div id="list" class="scroll-list">
                    <img src="../images/image1.png" alt="">
                    <img src="../images/image2.png" alt="">
                    <img src="../images/image3.png" alt="">
                    <img src="../images/image4.png" alt="">
                </div>
            </div>
            <div class="footer">
                <div class="footer-container">
                    <div style="width: 40%;display: inline-block; float: left;">
                        <p>服务热线：18149197030</p>
                        <p>E-mail：hanl1946@163.com</p>
                        <p>联系地址：陕西省西安市高新软件园</p>
                    </div>    
                    <div style="width: 40%;display: inline-block;float: right;text-align: center;">
                        <img src="../img/scan_code.jpg" width="104" alt="">
                    </div>    
                </div>
                <div class="footer-info">
                    <p><small>贝肯少儿编程教育©版权所有</small></p >
                </div>
            </div>
            </div>
        </div>
    </body>
</html>